body {
  padding-top: 61px;
  margin: 0;
     background: url('http://localhost/AngularJsTraining/MultiVisionCustom/public/app/images/test2.jpg');
     background-size: 1440px 800px;
     background-repeat:no-repeat;
    display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}



.avatar {
    width: 24px;
    height: 24px;
}

/* resize images */
.avatar img {
    width: 100%;
    height: auto;
}